#content {
    max-width: 1600px;
    margin: 0 auto;

}
nav a {
    text-align: center;
    color:#0a1d15;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
 text-align: center;
}
#background {
    height: 725px;
    background-color: #a29e93;
    margin: 200px 0;
}
body {

    background-color:#0cbaea;
    font-family: Raleway, Arial, sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;
    }
h2 {
        margin: 0;
    }
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #194b19;
}
nav a:hover {
    background-color:#928c8c ;
    color: #7c682b ;
}
.book, .join {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    background-color:#7c682b ;
   text-align: center;
    color: #9a8c8c;
    text-decoration: none;
    padding: 15px 30px;
}
.book:hover, .join:hover {
    background-color:#110202;
    color: #958041 ;
}
#background {
    height: 725px;
}
.home-title{
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    line-height: 1.5em;
    color:#a4aea2;
}
h4 {
    color:#958041;
}
.book,
.join {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 5px;
    line-height: 1.5em;
    background-color: #d0d6d5;
    color:#958041;
}
.book:hover,
.joint:hover{
    background-color: #194b19;
    color:#958041;
}
.msg h2{
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    background-color: #b8cec1;
    color:#958041;
}
.msg p {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
    background-color: #050815c4;
    color:#958041;
}
.msg {
    line-height: 1.5em;
    background-color: #434846;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #788949;
    margin: 200px 0;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    color:#958041;
    text-align: center;
    text-decoration: #e4bcbc;
    font: size 1.2em;
}
footer a:hover{
     color:#785a5a;
    text-decoration: underline;
}
footer p a:hover {
    background-color: #4c624f;
    text-decoration: underline;
}
.icon {
 width:80px;
 padding-top: 10px;
}
.logo{
width:80px;
padding: 35px;
}
#logo_link{
    padding-top:5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-img{
width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3; 
    z-index: -1; 
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px; 
}
#hero-msg h4{
    color: #9c9595;  
}
.book,
.join{
    background-color: #b8cec1;
    color: #958041;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
}
footer a {
    background-color:#958041;
    text-align: center;
    text-decoration: #e4bcbc;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card,
.rapids-card {
    margin: 200px 0;
}
.card-img{
    border:10px solid #194b19;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #575a4e;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
main section img{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;  
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #878981;
}
.home-grid{
    display:grid;
    grid-template-columns:repeat(10,1fr);
}
.rivers-card {
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
  }
  .camping-card {
    grid-column: 5 / span 3;
    grid-row: 2 / span 2;
  }
  .rapids-card {
    grid-column: 8 / span 3;
    grid-row: 2 / span 2;
  }
  #background {
    grid-column: 1 / span 11;
    grid-row: 4 / span 6;
  }
  .mountains {
    grid-column: 2 / span 6;
    grid-row: 5 / span 3;
  }
  
  .msg {
    grid-column: 6 / span 4;
    grid-row: 6 / span 1;
  }
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;

    }
}
h2{
    font-size:25px;
}
p{
    font: size 24px;
    text-align:center;
}
img{
    margin: 25px;
     width:50%;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    grid-column: 3/9;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  #feedback {
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: .5em;
      /* make this element invisible until we are ready for it */
      display: none;      
  }
  .moveDown {
      margin-top: 3em;
  }


 
   
  

