.body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.header {
    grid-column: 1 / 13;
    background-color:#556068;
    color:#b5b0b0;
    padding: 20px;
}
.main-content {
    grid-column: 4 / 10;
    background-color: #c7bcbc;
    padding: 20px;
}
.featured-posts {
    grid-column: 10 / 13;
    background-color: #d6cece;
    padding: 20px;
}.footer {
    grid-column: 1 / 13;
    background-color: #333;
    color: #d8cccc;
    padding: 20px;
}
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
    }

    .sidebar {
        grid-column: 1 / 7;
    }

    .main-content {
        grid-column: 1 / 7;
    }

    .featured-posts {
        grid-column: 1 / 7;
    }
}
