/****************************************************************
*
* Default tag properties *
*
*****************************************************************/
body {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #584a2a;
}

header img{
    max-width: 400px;
    width: 300px;
    height: auto;
    float:left;
    padding-left:20px;
}

h1,
h2,
h3,
h4
{
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: #076363;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

img {
    max-width: 100%;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
/****************************************************************
* *
* default properties for all pages *
* *
*****************************************************************/
.content {
    max-width: 1600px;
    margin: 0 auto;
}

/*  This rule name changes based upon the default button color   */
.btn-blue {
    background-color: #a69898;
    padding: 1em 2em;
    color: #f3f3f3;
}

.buttons {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 30px;
    border-radius: 20px;
}

/*  This is the default grid layout for all grids. Other grids can be defined as needed. */
.grid-default {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3em 0;
}
.home-grid{
     display:grid;
     grid-template-columns:repeat(10,1fr);

}
img {
    max-width: none 5px;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
.logo img{
    grid-column:1/2;
    grid-row:1/4;
}
/****************************************************************
* *
* header area properties *
* *
*****************************************************************/
header {
    display: grid;
    grid-template-columns: 200px auto;
    background-color:  #163114;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    
}
nav a {
    color:#94ffd3;
    text-decoration: none;
    padding: 35px;
}
.icon {
    width: 20px;
    padding-top: 10px;
   }
   .logo{
   width: 100px;
   padding: 35px;
   }
   #logo_link{
       padding-top:5px;
       justify-self: center;
       align-self: center;
   }
/****************************************************************
* *
* footer area properties *
* *
*****************************************************************/
footer {
    background-color: #11360a;
    color: #f2f9f2;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 200px;
}
footer .social img{
    padding-top: 30px;
}
.book,
.join{
    background-color: #1e402b;
    color: #42391d;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
}
footer a {
    background-color:#678a6a;
    text-align: center;
    text-decoration: #423f3f;
}
footer p a:hover{
    text-decoration: underline;
}

.social {
    display: grid;
    grid-template-columns: repeat(3, 100px);

}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #b4afaf;
    border-radius: 1em;
    grid-column: 3/9;
  }
@media screen and (max-width: 900px) {

    header, nav, main, footer {
        display: block;
    } 

}
  nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 30px;
        margin: 2px;
        max-width: 150px;
    }
    .home-title {
        font-size: 25px;
        color: #86a036;
    }
   
    #background {
        display: none;
    }
   
    footer {
        margin-top: 25px;

    }

/*add a form to an image*/
body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("img_nature.jpg");
  
    /* Control the height of the image */
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }
  * {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}