/****************************************************************
*
* Default tag properties *
*
*****************************************************************/

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #152108;
}

header img {
  max-width: 300px;
}

h1,
h2,
h3,
h4 {
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: #076363;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

img {
  max-width: 100%;
}

.kap img {
  max-width: 100px;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/****************************************************************
* *
* default properties for all pages *
* *
*****************************************************************/
.content {
  max-width: 1600px;
  margin: 0 auto;
}

/*  This rule name changes based upon the default button color   */
.btn-blue {
  background-color: #a69898;
  padding: 1em 2em;
  color: #f3f3f3;
}

.buttons {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 30px;
  border-radius: 20px;
}

/*  This is the default grid layout for all grids. Other grids can be defined as needed. */
.grid-default {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3em 0;
}


.logo img {
  grid-column: 1/2;
  grid-row: 1/4;
}

/****************************************************************
* *
* header area properties *
* *
*****************************************************************/
header {
  display: grid;
  grid-template-columns: 200px auto;
  background-color: #163114;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  background-color: #635f50;
  justify-items: center;
  align-items: center;
}

nav a {
  color: #94ffd3;
  text-decoration: none;
  padding: 35px;
  text-align: center;
}

.icon {
  width: 40px;
  padding-top: 30px;
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

/****************************************************************
* *
* footer area properties *
* *
*****************************************************************/
footer {
  background-color: #11360a;
  color: #f2f9f2;
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 200px;
}

footer .social img {
  padding-top: 40px;
  margin-top:30px;
  text-align: center;
}

.book,
.join {
  background-color: #1e402b;
  color: #42391d;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
}

footer a {
  background-color: #678a6a;
  text-align: center;
  text-decoration: #423f3f;
}

footer p a:hover {
  text-decoration: underline;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, 100px);

}

form {
  width: 400px;
  padding: 1em;
  border: 1px solid #b4afaf;
  border-radius: 1em;
  grid-column: 9/13;
  grid-row: 1;
  justify-self: end;
  background-color: #fff;;
}

.home-title {
  font-size: 25px;
  color: #86a036;
}

.hp-img {
  grid-column: 1/9;
  grid-row: 1/4;
}
#background {
  display: none;
}

footer {
  margin-top: 25px;

}


/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}



/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 900px) {

  header,
  nav,
  main,
  footer {
    display: block;
  }

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }

}