/******************************************************************************
START grid layout extra credit
******************************************************************************/
* {
    box-sizing: border-box;
  }
  /* Grid 1 */
  .grid1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2em 1rem;
    background-color: #f2f2f2;
  }
  .grid1 h1 {
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
  }
  /* Grid 2 */
  .grid2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    background-color: #d9d9d9;
  }
  .grid2 h2 {
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
  }
  /* Grid 3 */
  .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    background-color: #bfbfbf;
  }
  
  .grid3 h3 {
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
  }
  /* Grid 4 */
  .grid4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    background-color: #a6a6a6;
  }
  .grid4 h2 {
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
  }
  /* Grid 5 / Section */
  section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    background-color: #8c8c8c;
  }
  section h2 {
    grid-column: 1 / -1;
    margin: 0;
    text-align: center;
  }
  section > div {
    grid-column: 1 / -1;
  }
  /* Forms Grid 6 & 7, Fieldset, div */
  form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    background-color: #737373;
  }
  fieldset {
    grid-column: 4 / -1;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    background-color: #5a5a5a;
    padding: 1rem;
  }
   fieldset > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-gap: 1rem;
  }
  label {
    grid-column: 1 / -1;
    text-align: right;
    padding-right: 1rem;
    color: #f2f2f2;
  }
  input {
    grid-column: 1 / -1;
    width: 100%;
  }
  button {
    grid-column: 1 / -1;
    margin: 1rem auto;
    display: block;
  }
  legend {
    font-size: 20px;
    font-weight: 700;
  }
  /* Add padding around all grids of 1rem */
  [class*="grid"] {
    padding: 1rem;
  }